{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load super_filters %}

{% block title %}
    Rhinestone Inventions Disclosure Tools | Invention Disclosures
{% endblock title %}

{% block css %}
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <!-- Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock css %}

{% block content %}
    <!-- Main Content Start -->

        <div class="pcoded-content">
            <!-- Breadcrumb Start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Invention Disclosure</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/app/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Invention Disclosure</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb End -->

            <!-- Main Content Start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Invention Disclosures</h5>
                            <div class="dropdown float-right ml-2">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="family-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i>&nbsp;Add Family
                                </button>
                                <div class="dropdown-menu" aria-labelledby="family-dropdown">
                                    <a class="dropdown-item" href="/app/modules/families-patent/add/">Patent Family</a>
                                    <a class="dropdown-item" href="/app/modules/families-design/add/">Design Family</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-sm btn-outline-primary"><i class="feather icon-arrow-left"></i></button>
                                    <button class="btn btn-sm btn-outline-primary"><i class="feather icon-arrow-right"></i></button>
                                    <button class="btn btn-sm btn-outline-primary"><i class="feather icon-printer"></i></button>
                                    <button class="btn btn-sm btn-outline-primary"><i class="feather icon-delete"></i></button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-4">
                                    <form class="page-form" action="/app/inventions/disclosures/" method="post">
                                        {% csrf_token %}
                                        {% crispy form %}
                                    </form>
                                </div>
                            </div>
                            <ul class="nav nav-tabs mb-3" id="invention-disclosure-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-uppercase" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="actions" aria-selected="true">Actions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" id="prior-art-cited-docs-tab" data-toggle="tab" href="#prior-art-cited-docs" role="tab" aria-controls="prior-art-cited-docs" aria-selected="false">Prior Art/Cited Docs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" id="related-case-tab" data-toggle="tab" href="#related-case" role="tab" aria-controls="related-case" aria-selected="false">Related Case Links</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" id="inventor-compensation-tab" data-toggle="tab" href="#inventor-compensation" role="tab" aria-controls="inventor-compensation" aria-selected="false">Inventor Compensation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents</a>
                                </li>
                            </ul>

                            <div class="tabContent" id="invention-disclosure-tabs-content">
                                <!-- Actions Tab with exact layout -->
                                <div class="tab-pane fade show active" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                                    <div class="mb-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mb-0 data-table">
                                                <thead>
                                                    <tr>
                                                        <th>ACTION CODE</th>
                                                        <th>ACTION SPELLOUT</th>
                                                        <th>DUE DATE</th>
                                                        <th>TAKEN DATE</th>
                                                        <th>COMPLETED DATE</th>
                                                        <th>RESPONSIBLE PERSON</th>
                                                        <th>NOTES</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <tbody>
                                                            <tr>
                                                                <td><input type="text" name="action_code" class="form-control"></td>
                                                                <td><input type="text" name="action_spellout" class="form-control"></td>
                                                                <td><input type="date" name="due_date" class="form-control" placeholder="dd/mm/yyyy"></td>
                                                                <td><input type="date" name="taken_date" class="form-control" placeholder="DD/MM/YYYY"></td>
                                                                <td><input type="date" name="completed_date" class="form-control" placeholder="DD/MM/YYYY"></td>
                                                                <td><input type="text" name="responsible_person" class="form-control"></td>
                                                                <td><input type="text" name="action_notes" class="form-control"></td>
                                                            </tr>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Prior Art/Cited Docs Tab - Document Upload Under Table -->
                                <div class="tab-pane fade" id="prior-art-cited-docs" role="tabpanel" aria-labelledby="prior-art-cited-docs-tab">
                                    <div class="mb-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mb-0 data-table">
                                                <thead>
                                                    <tr>
                                                        <th>Patentee/Applicant</th>
                                                        <th>Application No</th>
                                                        <th>Country</th>
                                                        <th>Application Date</th>
                                                        <th>Publication No</th>
                                                        <th>Publication Date</th>
                                                        <th>Grant No</th>
                                                        <th>Grant Date</th>
                                                        <th>Publication Author: Vol, No. Pages e.t.c</th>
                                                        <th>Kind Code</th>
                                                        <th>Include in IDS</th>
                                                        <th>Submitted as IDS?</th>
                                                        <th>On which Case Ref</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Document rows will be populated here -->
                                                    <tr>
                                                        <td><input type="text" name="patentee_applicant"></td>
                                                        <td><input type="text" name="applicatin_no"></td>
                                                        <td>
                                                            <select id="id_Country" name="country">
                                                                <!-- Options for countries -->
                                                            </select>
                                                        </td>
                                                        <td><input type="text" name="applicatin_date"></td>
                                                        <td><input type="text" name="publication_no"></td>
                                                        <td><input type="date" name="applicatin_date"></td>
                                                        <td><input type="text" name="grant_no"></td>
                                                        <td><input type="date" name="grant_date"></td>
                                                        <td><input type="text" name="publication_author"></td>
                                                        <td><input type="text" name="kind_code"></td>
                                                        <td>
                                                            <select name="include_in_ids">
                                                                <option value="yes">Yes</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="submitted_as_ids">
                                                                <option value="yes">Yes</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" name="on_case_ref"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="file-upload mt-3">
                                            <input type="file" id="upload-docs" multiple>
                                            <label for="upload-docs">Drop files here or click to upload</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Related Case Links Tab -->
                                <div class="tab-pane fade" id="related-case" role="tabpanel" aria-labelledby="related-case-tab">
                                    <div class="mb-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mb-0 data-table">
                                                <thead>
                                                    <tr>
                                                        <th>REFERENCE NUMBER</th>
                                                        <th>COUNTRY</th>
                                                        <th>APPLICATION NUMBER</th>
                                                        <th>APPLICATION DATE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Related case rows will be populated here -->
                                                    <tr id="related_case">
                                                            
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Inventor Compensation Tab -->
                                <div class="tab-pane fade" id="inventor-compensation" role="tabpanel" aria-labelledby="inventor-compensation-tab">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped mb-0 data-table">
                                            <thead>
                                                <tr>
                                                    <th>INVENTOR NAME</th>
                                                    <th>PERCENTAGE CONTRIBUTED</th>
                                                    <th>COMPENSATION CALCULATION</th>
                                                    <th>COMPENSATION PAID</th>
                                                    <th>DATE COMPENSATION PAID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Inventor compensation rows will be populated here -->
                                                 <tr>
                                                    <td><input type="text" name="inventor_name"></td>
                                                    <td><input type="text" name="percentage_cont"></td>
                                                    <td><input type="text" name="compensation_calc"></td>
                                                    <td><input type="text" name="compensation_paid"></td>
                                                    <td><input type="date" name="date_compensation_paid"></td>
                                                 </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Documents Tab -->
                                <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped mb-0 data-table">
                                            <thead>
                                                <tr>
                                                    <th>DOCUMENT TYPE</th>
                                                    <th>DOCUMENT NAME</th>
                                                    <th>DATE UPLOADED</th>
                                                    <th>UPLOADED BY</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Document rows will be populated here -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Content End -->
        </div>

    <!-- Main Content End -->
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Initialize Select2
        $(".page-form select").select2();
        // Initialize DataTable
        $('.data-table').DataTable({
            dom: 'Bfrtip',
            searching: false,  // Disable search
        });
    </script>
    <script>
        document.querySelectorAll('input[type="date"]').forEach(function(input) {
        input.addEventListener('change', function() {
            let date = new Date(this.value);
            if (!isNaN(date)) {
                let day = String(date.getDate()).padStart(2, '0');
                let month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
                let year = date.getFullYear();
                this.value = `${year}-${month}-${day}`; // Internal value remains ISO 8601
            }
        });
    });
    </script>
{% endblock js %}
