{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load super_filters %}

{% block title %}
	Rhinestone Inventions Disclosure Tools | Trademark
{% endblock title %}

{% block css %}
<!-- vendor css -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock css %}
	

{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Trademark Module</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/app/"><i class="feather icon-home"></i>&nbsp;Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/app/modules/trademarks/list/">Trademark List</a></li>
                            <li class="breadcrumb-item"><a href="/app/modules/trademarks/detail/{{i.id}}/">Trademark Detail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-12">
                <div class="card">
					<div class="card-body">
                        <div class="row ">
                        
                            <!-- <div class="col-12">
                                <button class="btn btn-primary float-right">Add Trademark</button>
                            </div> -->
                            <div class="col-12 mb-4 text-center">
                                <button class="btn btn-sm btn-outline-primary">Audit Trail</button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-copy"></i></button>
                                <button class="btn btn-sm btn-outline-primary">Customer Special Instructions</button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-arrow-left"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-arrow-right"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-printer"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-delete"></i></button>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Case no</h5>
                                <p>
                                    {{item.case_no}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Country</h5>
                                <p>
                                    {{item.country}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Picture Of Trademark</h5>
                                <p>
                                    <img src="{{item.picture_of_trademark.url}}"  alt="trademark picture" width="20%" />
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Attorney 1</h5>
                                <p>
                                    {{item.primary_attorney}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Attorney 2</h5>
                                <p>
                                    {{item.secondary_attorney}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Agent</h5>
                                <p>
                                    {{item.agent}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Agent ref</h5>
                                <p>
                                    {{item.agent_ref}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Paralegal 1</h5>
                                <p>
                                    {{item.primary_paralegal}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Trademark priority no</h5>
                                <p>
                                    {{item.trademark_priority_no}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Trademark application no</h5>
                                <p>
                                    {{item.trademark_application_no}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Trademark registration no</h5>
                                <p>
                                    {{item.trademark_registration_no}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Date</h5>
                                <p>
                                    {{item.date}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">Next tax date</h5>
                                <p>
                                    {{item.next_tax_date}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">taxes_paid_by</h5>
                                <p>
                                    {{item.taxes_paid_by}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">does it expire</h5>
                                <p>
                                    {{item.does_it_expire}}
                                </p>
                            </div>
                            <div class="col-12 mb-3">
                                <h5 class="text-uppercase">expiry date</h5>
                                <p>
                                    {{item.expiry_date}}
                                </p>
                            </div>
                            <div class="col-12 mb-3 text-center">
                                <a href="/app/modules/trademarks/list/" class="btn btn-primary">
                                    <i class="fa fa-list"></i>&nbsp;List
                                </a>
                                <a href="/app/modules/trademarks/edit/{{item.id}}/" class="btn btn-secondary">
                                    <i class="fa fa-edit"></i>&nbsp;Edit
                                </a>
                                <a href="/app/modules/trademarks/delete/{{item.id}}/" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>&nbsp;Delete
                                </a>
                            </div>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->

    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}
{% block js %}
<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ripple.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<!-- select2 Js -->
<script src="{% static 'assets/js/plugins/select2.full.min.js' %}"></script>
<!-- datatables Js -->
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/plugins/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/pages/data-export-custom.js' %}"></script> -->
<!-- Apex Chart
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
-->

<script>
	// Form start
	$(".page-form select").select2();
	// Form end
	// DataTable start
	$('.data-table').DataTable({
		dom: 'Bfrtip',
		// buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
	});
	// DataTable end
</script>
{% endblock js %}