{% extends 'app/address-book/base.html' %}
{% load crispy_forms_tags %}

{% block tabContent %}
<div class="row ">

    <div class="col-12 mb-4">
        <h3 class="text-start">Paralegal</h3>
    </div>
    <div class="col-12 mb-4">
        <form class="page-form" action="/app/address-book/paralegals/" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0 data-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Nationality</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr>
                        <td scope="col">{{i.MID}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.nationality}}</td>
                        <td>{{i.status}}</td>
                        <td class="table-action">
                            <a href="#!" class="btn btn-icon btn-outline-primary"><i class="feather icon-eye"></i></a>
                            <a href="#!" class="btn btn-icon btn-outline-success"><i class="feather icon-edit"></i></a>
                            <a href="#!" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock tabContent %}