# Environment directories
.env
/env
.venv/
venv/
ENV/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Binary extensions
*.so

# Django-specific files
*.pot
*.pyc
*~

# SQLite database
db.sqlite3
*.sqlite3
*.sqlite3-journal

# Logs and database dumps
*.log
*.sql
*.bak
*.swp

# Static files
/static
/staticfiles
/app/static/assets/images/*

# Media files
/media

# IDE settings
.idea/
/.vscode/

# PEM files (Sensitive certificates/keys)
*.pem

# Backup and temporary files
*~

# macOS system files
.DS_Store
