<!DOCTYPE html>
<html>
<head>
    <title>Intellectual Property</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Intellectual Property</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Family ID</th>
                    <th>Title</th>
                    <th>Agent</th>
                    <th>Agent Ref</th>
                    <th>Filing Type</th>
                    <th>Official Number</th>
                </tr>
            </thead>
            <tbody>
                {% for item in intellectual_property %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.family_id }}</td>
                    <td>{{ item.titles }}</td>
                    <td>{{ item.agent }}</td>
                    <td>{{ item.agent_ref }}</td>
                    <td>{{ item.type_of_filing }}</td>
                    <td>{{ item.official_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
