{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load super_filters %}

{% block title %}
    Rhinestone Inventions Disclosure Tools | Patent
{% endblock title %}

{% block css %}
<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock css %}

{% block content %}
<div class="pcoded-content">
    <!-- Breadcrumb -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Patent Module</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/app/"><i class="feather icon-home"></i>&nbsp;Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/app/modules/patents/list/">Patent List</a></li>
                        <li class="breadcrumb-item"><a href="/app/modules/patents/detail/{{item.id}}/">Patent Detail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Key Information Section -->
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Case Reference:</h6>
                            <p>{{ item.case_no }}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Official Number:</h6>
                            <p>{{ item.official_number }}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Client Name:</h6>
                            <p>{{ item.client_name }}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Application Filing Date:</h6>
                            <p>{{ item.application_filing_date }}</p>
                        </div>
                    </div>

                    <!-- Tabs Section -->
                    <ul class="nav nav-tabs" id="patent-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="official-numbers-tab" data-toggle="tab" href="#official-numbers" role="tab" aria-controls="official-numbers" aria-selected="true">Official Numbers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="file-locations-tab" data-toggle="tab" href="#file-locations" role="tab" aria-controls="file-locations" aria-selected="false">File Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="renewals-tab" data-toggle="tab" href="#renewals" role="tab" aria-controls="renewals" aria-selected="false">Renewals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="patent-tabs-content">
                        <!-- Official Numbers Tab -->
                        <div class="tab-pane fade show active" id="official-numbers" role="tabpanel" aria-labelledby="official-numbers-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Official Number</th>
                                        <th>Current Number</th>
                                        <th>Date In Force</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Serial No</td>
                                        <td>3848438</td>
                                        <td>✓</td>
                                        <td>10-Apr-2024</td>
                                    </tr>
                                    <tr>
                                        <td>Application No</td>
                                        <td>201962037.3</td>
                                        <td>✓</td>
                                        <td>12-Jul-2007</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- File Locations Tab -->
                        <div class="tab-pane fade" id="file-locations" role="tabpanel" aria-labelledby="file-locations-tab">
                            <h6>File Location:</h6>
                            <p>{{ item.file_location }}</p>
                        </div>

                        <!-- Renewals Tab -->
                        <div class="tab-pane fade" id="renewals" role="tabpanel" aria-labelledby="renewals-tab">
                            <h6>Renewal Status:</h6>
                            <p>{{ item.renewal_status }}</p>
                        </div>

                        <!-- Events Tab -->
                        <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                            <h6>Events:</h6>
                            <p>No events logged</p>
                        </div>
                    </div>

                    <!-- Actions Section -->
                    <div class="text-center mt-4">
                        <a href="/app/modules/patents/list/" class="btn btn-primary">Back to List</a>
                        <a href="/app/modules/patents/edit/{{ item.id }}/" class="btn btn-secondary">Edit</a>
                        <a href="/app/modules/patents/delete/{{ item.id }}/" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<!-- [ Main Content ] end -->

{% endblock content %}
{% block js %}
<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ripple.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<!-- select2 Js -->
<script src="{% static 'assets/js/plugins/select2.full.min.js' %}"></script>
<!-- datatables Js -->
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/plugins/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/pages/data-export-custom.js' %}"></script> -->
<!-- Apex Chart
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
-->

<script>
	// Form start
	$(".page-form select").select2();
	// Form end
	// DataTable start
	$('.data-table').DataTable({
		dom: 'Bfrtip',
		// buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
	});
	// DataTable end
</script>
{% endblock js %}