{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load super_filters %}

{% block title %}
	Rhinestone Inventions Disclosure Tools | Patent
{% endblock title %}

{% block css %}
<!-- vendor css -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock css %}
	

{% block content %}
<!-- [ Main Content ] start -->
 
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Patent Module</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/app/"><i class="feather icon-home"></i>&nbsp;Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/app/modules/patents/list/">Patent List</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-12">
                <div class="card">
					<div class="card-body">
                        <div class="row">
                        
                            <div class="col-12">
                                <a href="/app/modules/patents/add/" class="btn btn-primary float-right"><i class="fa fa-plus"></i>&nbsp;Add Patent</a>
                            </div>
                            <div class="col-12 mb-4 text-center">
                                <button class="btn btn-sm btn-outline-primary">Audit Trail</button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-copy"></i></button>
                                <button class="btn btn-sm btn-outline-primary">Customer Special Instructions</button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-arrow-left"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-arrow-right"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-printer"></i></button>
                                <button class="btn btn-sm btn-outline-primary"><i class="feather icon-delete"></i></button>
                            </div>
                            <div class="col-12">
                                <table class="table table-bordered data-table">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>country</th>
                                            <th>internal title</th>
                                            <th>formal title</th>
                                            <th>type of filing</th>
                                            <th>status</th>
                                            <th>cost centre</th>
                                            <th>licence</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in items %}
                                        <tr>
                                            <td>{{i.case_no}}</td>
                                            <td>{{i.country}}</td>
                                            <td>{{i.internal_title}}</td>
                                            <td>{{i.formal_title}}</td>
                                            <td>{{i.type_of_filing}}</td>
                                            <td>{{i.status}}</td>
                                            <td>{{i.cost_centre}}</td>
                                            <td>{{i.licence}}</td>
                                            <td>
                                                <a href="/app/modules/patents/detail/{{i.id}}/" class="btn btn-primary btn-icon"><i class="fa fa-eye"></i></a>
                                                <a href="/app/modules/patents/edit/{{i.id}}/" class="btn btn-secondary btn-icon"><i class="fa fa-edit"></i></a>
                                                <a href="/app/modules/patents/delete/{{i.id}}/" class="btn btn-danger btn-icon"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->

    </div>
  
<!-- [ Main Content ] end -->

{% endblock content %}
{% block js %}
<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ripple.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<!-- select2 Js -->
<script src="{% static 'assets/js/plugins/select2.full.min.js' %}"></script>
<!-- datatables Js -->
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/plugins/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/pages/data-export-custom.js' %}"></script> -->
<!-- Apex Chart
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
-->

<script>
	// Form start
	$(".page-form select").select2();
	// Form end
	// DataTable start
	$('.data-table').DataTable({
		dom: 'Bfrtip',
		// buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
	});
	// DataTable end
</script>
{% endblock js %}