{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load super_filters %}

{% block title %}
	Rhinestone Inventions Disclosure Tools | Patent
{% endblock title %}

{% block css %}
<!-- vendor css -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock css %}
	

{% block content %}
<!-- [ Main Content ] start -->
 
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Patent Module</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/app/"><i class="feather icon-home"></i>&nbsp;Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/app/modules/patents/list/">Patent List</a></li>
                            <li class="breadcrumb-item"><a href="/app/modules/patents/add/">Patent Add</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
         <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
                            <!-- <div class="col-12">
                                                <button class="btn btn-primary float-right">Add Family</button>
                                            </div> -->
                            <div class="col-12 mb-4">
                                <form
                                class="page-form"
                                action="{% url 'patent_update' pk=item.id %}" 
                                method="post"
                              >
                              
                                {% csrf_token %}
                                <div class="form-row">
                                  <div class="col-12 mb-4 text-center">
                                    <button class="btn btn-sm btn-outline-primary">
                                      Audit Trail
                                    </button>
                                    <button class="btn btn-sm btn-outline-primary">
                                      <i class="feather icon-copy"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-primary">
                                      Customer Special Instructions
                                    </button>
                                    <button class="btn btn-sm btn-outline-primary">
                                        Create Country
                                      </button>
                                    <button class="btn btn-sm btn-outline-primary">
                                      <i class="feather icon-arrow-left"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-primary">
                                      <i class="feather icon-arrow-right"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline-primary">
                                      <i class="feather icon-printer"></i>
                                    </button>
                                    <button
                                      type="reset"
                                      class="btn btn-sm btn-outline-primary"
                                    >
                                      <i class="feather icon-delete"></i>&nbsp;Delete
                                    </button>
                                    <button
                                      type="submit"
                                      class="btn btn-sm btn-outline-primary"
                                    >
                                      <i class="feather icon-save"></i>&nbsp;Save
                                    </button>
                                  </div>
                                  <div id="id_add_new" class="col-12 mb-4 text-center"></div>
                                </div>
                                {% crispy form %}
                              </form>
                            </div>
                            <div class="col-12 mb-4">
                              <ul class="nav nav-tabs mb-3" id="family-tabs" role="tablist">
                                  <li class="nav-item">
                                      <a class="nav-link text active" id="pills-Actions-tab" data-toggle="pill" href="#pills-Actions" role="tab" aria-controls="pills-Actions" aria-selected="true"><b> Actions </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-applicant-tab" data-toggle="pill" href="#pills-applicant" role="tab" aria-controls="pills-applicant" aria-selected="false"><b> Applicant(s) </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Inventors-tab" data-toggle="pill" href="#pills-Inventors" role="tab" aria-controls="pills-Inventors" aria-selected="false"><b> Inventor(s) </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Title-tab" data-toggle="pill" href="#pills-Title" role="tab" aria-controls="pills-Title" aria-selected="false"><b> Title </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Invoices-tab" data-toggle="pill" href="#pills-Invoices" role="tab" aria-controls="pills-Invoices" aria-selected="false"><b> Invoices </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Annuities-tab" data-toggle="pill" href="#pills-Annuities" role="tab" aria-controls="pills-Annuities" aria-selected="false"><b> Annuities </b></a>
                                  </li>
                                <!--  <li class="nav-item">
                                      <a class="nav-link" id="pills-Prior-tab" data-toggle="pill" href="#pills-Prior" role="tab" aria-controls="pills-Prior" aria-selected="false"><b> Prior Art </b></a>
                                  </li>-->
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Related-tab" data-toggle="pill" href="#pills-Related" role="tab" aria-controls="pills-Related" aria-selected="false"><b> Related Case Links </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Abstract-tab" data-toggle="pill" href="#pills-Abstract" role="tab" aria-controls="pills-Abstract" aria-selected="false"><b> Abstract & Figures Files</b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Documents-tab" data-toggle="pill" href="#pills-Documents" role="tab" aria-controls="pills-Documents" aria-selected="false"><b> Documents </b></a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="pills-Notes-tab" data-toggle="pill" href="#pills-Notes" role="tab" aria-controls="pills-Notes" aria-selected="false"><b>Notes</b></a>
                                  </li>
                              </ul>
                              <div class="tabContent" id="family-tabs-content">
                                  <div class="tab-pane fade show active" id="pills-Actions" role="tabpanel" aria-labelledby="pills-Actions-tab">
                                      <div class="media">
                                          <div class="table-responsive">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Action Code</th>
                                                          <th>Action Spellout</th>
                                                          <th>Due Date</th>
                                                          <th>Taken Date</th>
                                                          <th>Completed Date</th>
                                                          <th>Responsible Person</th>
                                                          <th>Notes</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody id="tablebody">

                                                    
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="pills-applicant" role="tabpanel" aria-labelledby="pills-applicant-tab">
                                    <div class="media">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Applicant ID</th>
                                                        <th>Surname</th>
                                                        <th>Given Name(s)</th>
                                                        <th>Nationality</th>
                                                        <th>Employment Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id="selected-applicant-details">
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-Inventors" role="tabpanel" aria-labelledby="pills-Inventors-tab">
                                  <div class="media">
                                      <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Inventor ID</th>
                                                <th>Surname</th>
                                                <th>Given Name(s)</th>
                                                <th>Nationality</th>
                                                <th>Employment Status</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td><input type="text" name="inventor_id" oninput="updateInventorFields(this)"></td>
                                                <td><input type="text" name="surname" oninput="updateInventorFields(this)"></td>
                                                <td><input type="text" name="given_names" oninput="updateInventorFields(this)"></td>
                                                <td><input type="text" name="nationality" oninput="updateInventorFields(this)"></td>
                                                <td><input type="text" name="employment_status" oninput="updateInventorFields(this)"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>  
                                  <div class="tab-pane fade" id="pills-Title" role="tabpanel" aria-labelledby="pills-Title-tab">
                                      <div class="media">
                                          <div class="table-responsive">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                       
                                                          <th>Formal Title</th>
                                                          <th>Internal Title</th>
                                                          
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr id="title-table">
                                                        
                                                        
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="pills-Invoices" role="tabpanel" aria-labelledby="pills-Invoices-tab">
                                      <div class="media">
                                          <div class="table-responsive">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Invoice No</th>
                                                          <th>Items</th>
                                                          <th>Customer Name</th>
                                                          <th>Address</th>
                                                          <th>Payment Status</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>CA-0000012</td>
                                                          <td>Service</td>
                                                          <td>Jems</td>
                                                          <td>Kenya</td>
                                                          <td>Pending</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="pills-Annuities" role="tabpanel" aria-labelledby="pills-Annuities-tab">
                                    <div class="media">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th>Country</th>
                                              <th>Annuity Year</th>
                                              <th>Due Date</th>
                                              <th>Payment Status</th>
                                              <th>Receipt Received</th>
                                              
                                            </tr>
                                          </thead>
                                          <tbody id="annuity-table-body">
                                            
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  
                                   
                                  <div class="tab-pane fade" id="pills-Prior" role="tabpanel" aria-labelledby="pills-Prior-tab">
                                    <div class="media">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Patentee/Applicant</th>
                                                        <th>Application No</th>
                                                        <th>Country</th>
                                                        <th>Application Date</th>
                                                        <th>Publication No</th>
                                                        <th>Publication Date</th>
                                                        <th>Grant No</th>
                                                        <th>Grant Date</th>
                                                        <th>Publication Author</th>
                                                        <th>Kind Code</th>
                                                        <th>Include in IDS</th>
                                                        <th>Submitted as IDS?</th>
                                                        <th>On which Case Ref</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text" name="patentee_applicant"></td>
                                                        <td><input type="text" name="applicatin_no"></td>
                                                        <td>
                                                            <select id="id_Country" name="country">
                                                                <!-- Options for countries -->
                                                            </select>
                                                        </td>
                                                        <td><input type="text" name="applicatin_date"></td>
                                                        <td><input type="text" name="publication_no"></td>
                                                        <td><input type="date" name="applicatin_date"></td>
                                                        <td><input type="text" name="grant_no"></td>
                                                        <td><input type="date" name="grant_date"></td>
                                                        <td><input type="text" name="publication_author"></td>
                                                        <td><input type="text" name="kind_code"></td>
                                                        <td>
                                                            <select name="include_in_ids">
                                                                <option value="yes">Yes</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="submitted_as_ids">
                                                                <option value="yes">Yes</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" name="on_case_ref"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>                              
                                
                                  <div class="tab-pane fade" id="pills-Related" role="tabpanel" aria-labelledby="pills-Related-tab">
                                        <div class="media">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Reference Number</th>
                                                            <th>Country</th>
                                                            <th>Application Number</th>
                                                            <th>Application Date</th>
                                                            <th>Inventors</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="related_case">
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                  <div class="tab-pane fade" id="pills-Abstract" role="tabpanel" aria-labelledby="pills-Abstract-tab">
                                    <div class="media">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Abstract</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                      <form action="/" method="post">
                                                        {% csrf_token %}
                                                        <textarea id="input-text" name="Abstract" rows="10" cols="50" maxlength="50" placeholder="Enter your abstract here..."></textarea>
                                                        <br>
                                                      </form>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                  </div>
                                  <div class="tab-pane fade" id="pills-Documents" role="tabpanel" aria-labelledby="pills-Documents-tab">
                                    <div class="media">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Document</th>
                                                        <th>Name of Document</th>
                                                        <th>Upload Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Existing table rows -->
                                                    <tr>
                                                        <td>
                                                            <input type="file" name="document_file" onchange="uploadDocument(this)">
                                                        </td>
                                                        <td id="document-name"></td>
                                                        <td id="upload-date"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                  <div class="tab-pane fade" id="pills-Notes" role="tabpanel" aria-labelledby="pills-Notes-tab">
                                      <div class="media">
                                          <div class="table-responsive">
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Note</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>
                                                            <form>
                                                                <input type="text" class="text">
                                                            </form>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                          </div>
                        </div>
					
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->

    </div>

<!-- [ Main Content ] end -->

{% endblock content %}
  {% block js %}
<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ripple.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap4.min.js' %}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize Select2 and DataTables
    $(".page-form select").select2();
    $(".data-table").DataTable({ dom: 'Bfrtip' });

    // Function to load rules based on existing dates
    function applyDateRules(dateFieldId, ruleFunction) {
      const dateField = document.getElementById(dateFieldId);
      if (dateField && dateField.value) {
        ruleFunction(new Date(dateField.value));  // Apply rules if date is already set
      }
      dateField.addEventListener("change", () => ruleFunction(new Date(dateField.value)));  // Listen for changes
    }

    // Date-based rules functions
    function differenceInMonths(date) {
      const table = document.getElementById("tablebody");
      const monthOffsets = [1, 2, 3, 12, 16, 24, 54, 30, 18, 19, 22, 28];
      const dates = monthOffsets.map(offset => {
        const newDate = new Date(date);
        newDate.setMonth(newDate.getMonth() + offset);
        return newDate;
      });

      const codes = ['FFREM1', 'FFREM2', 'FFREM3', 'FF', 'CER', 'NP', 'PUB', 'DEM', 'WOSA2', 'IPRP'];
      const descriptions = [
        'Foreign Filing Due in 1 month',
        'Foreign Filing Due in 2 months',
        'Foreign Filing Due in 3 months',
        'Foreign Filing due',
        'Certified Copy of Priority document due',
        'National/Regional Phase Entry due',
        'Check application has published',
        'File Demand',
        'Respond to WOSA',
        'Check IPRP been issued'
      ];

      table.innerHTML = "";  // Clear existing rows
      dates.forEach((dueDate, index) => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${codes[index]}</td>
          <td>${descriptions[index]}</td>
          <td>${dueDate.toLocaleDateString()}</td>
          <td><input type="date"></td>
          <td><input type="date"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        `;
        table.appendChild(row);
      });
    }

    function pctTableRules(date) {
      const table = document.getElementById("tablebody");
      const dueDate = new Date(date);
      dueDate.setMonth(dueDate.getMonth() + 28);

      const row = document.createElement("tr");
      row.innerHTML = `
        <td>ISR</td>
        <td>Check ISR issued</td>
        <td>${dueDate.toLocaleDateString()}</td>
        <td><input type="date"></td>
        <td><input type="date"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
      `;
      table.appendChild(row);
    }

    // Apply rules on load and on date change for specific fields
    applyDateRules("id_priority_provisional_date", differenceInMonths);
    applyDateRules("id_PCT_application_Date", pctTableRules);
  });

  // Helper function to get CSRF token
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + "=")) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>

<script>
  // Populate tables based on tab click events
  document.getElementById("pills-Related-tab").addEventListener("click", function () {
    const familyCaseNumber = document.getElementById("id_case_no").value;

    fetch("/app/modules/related_cases_view", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken")
      },
      body: `family_case_number=${familyCaseNumber}`
    })
    .then(response => response.json())
    .then(data => {
      const relatedCases = data.related_cases.filter(caseData => caseData.case_number === familyCaseNumber);
      const tableBody = document.getElementById("related_case");
      tableBody.innerHTML = "";  // Clear previous entries

      relatedCases.forEach(caseData => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${caseData.case_number}</td>
          <td>${caseData.country}</td>
          <td>${caseData.application_number}</td>
          <td>${caseData.application_date}</td>
          <td>${caseData.inventors}</td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(error => console.error("Error fetching related cases:", error));
  });
</script>

<script>
  // Populate and handle specific date rules for form fields
  document.getElementById("id_application_date").addEventListener("change", function() {
    document.getElementById("id_status").value = "Pending";
  });
  document.getElementById("id_PCT_application_Date").addEventListener("change", function() {
    document.getElementById("id_status").value = "Allowed";
  });
  document.getElementById("id_grant_date").addEventListener("change", function() {
    document.getElementById("id_status").value = "Granted(Live)";
  });
  document.getElementById("id_publication_date").addEventListener("change", function() {
    document.getElementById("id_status").value = "Published";
  });
  document.getElementById("id_priority_provisional_date").addEventListener("change", function() {
    document.getElementById("id_status").value = "Filed";
  });
</script>

<script>
  // Method to extract and populate titles
  function extractAndPopulateTitles() {
    const internalTitle = document.getElementById("id_internal_title").value;
    const formalTitle = document.getElementById("id_formal_title").value;
    const tableRow = document.getElementById("title-table");

    tableRow.innerHTML = `
      <td>${formalTitle}</td>
      <td>${internalTitle}</td>
    `;
  }

  document.getElementById("pills-Title-tab").addEventListener("click", extractAndPopulateTitles);
</script>

<script>
  // Method to update inventor fields
  function updateInventorFields(inputField) {
    const query = inputField.value;
    if (query.trim() === '') {
      return;
    }

    const url = "{% url 'inventor_autocomplete' %}?query=" + query;

    fetch(url)
      .then(response => response.json())
      .then(data => {
        const tr = inputField.closest('tr');
        const [inventorNo, surname, givenNames, nationality, employmentStatus] = tr.querySelectorAll('input[type="text"]');

        if (data.suggestions.length > 0) {
          const bestMatch = data.suggestions[0];
          inventorNo.value = bestMatch.id;
          surname.value = bestMatch.surname;
          givenNames.value = bestMatch.name;
          nationality.value = bestMatch.nationality;
          employmentStatus.value = bestMatch.employer_name;
        } else {
          surname.value = '';
          givenNames.value = '';
          nationality.value = '';
          employmentStatus.value = '';
        }
      })
      .catch(error => {
        console.error("Error fetching inventor data:", error);
      });
  }
</script>

{% endblock js %}
