{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load super_filters %}

{% block title %}
    Rhinestone Inventions Disclosure Tools | Family
{% endblock title %}

{% block css %}
<!-- vendor css -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock css %}

{% block content %}
<!-- [ Main Content ] start -->

    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Family Module</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/app/"><i class="feather icon-home"></i>&nbsp;Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/app/modules/families/list/">Family List</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="dropdown float-right">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="country-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus"></i>&nbsp;Add Family
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="country-dropdown">
                                        <a class="dropdown-item" href="/app/modules/families-patent/add/">Patent Family</a>
                                        <a class="dropdown-item" href="/app/modules/families-design/add/">Design Family</a>
                                        <a class="dropdown-item" href="/app/modules/families-trademark/add/">Trademark Family</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <table class="table table-bordered data-table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Family no</th>
                                            <th>Internal title</th>
                                            <th>Formal title</th>
                                            <th>Status</th>
                                            <th>Sub status</th>
                                            <th>Type of filing</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in items %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.family_no}}</td>
                                            <td>{{i.internal_title}}</td>
                                            <td>{{i.formal_title}}</td>
                                            <td>{{i.status}}</td>
                                            <td>{{i.sub_status}}</td>
                                            <td>{{i.type_of_filing}}</td>
                                            <td>
                                                <a href="/app/modules/families/detail/{{i.id}}/" class="btn btn-primary btn-icon"><i class="fa fa-eye"></i></a>
                                                <a href="/app/modules/families/edit/{{i.id}}/" class="btn btn-secondary btn-icon"><i class="fa fa-edit"></i></a>
                                                <a href="/app/modules/families/delete/{{i.id}}/" class="btn btn-danger btn-icon"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

<!-- [ Main Content ] end -->
{% endblock content %}

{% block js %}
<!-- Required Js -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

<script>
    // Form start
    $(".page-form select").select2({
        dropdownParent: $('.page-form')
    });
    // Form end
    // DataTable start
    $('.data-table').DataTable({
        dom: 'Bfrtip',
        // buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
    });
    // DataTable end
</script>
{% endblock js %}
